html,
body {
    height: 100%;
    width: 100%;
    position: fixed;
    margin: 0;
}

#butterfly {
    height: 15%;
    width: auto;
    position: absolute;
    z-index: 9;
}

#firefly {
    height: 15%;
    width: auto;
    position: absolute;
    z-index: 10;
}

#wateringcan {
    width: 200px;
    position: fixed;
    bottom: 30%;
    left: 40%;
    z-index: 6;
}

.waterdrop {
    /* added height and position */
    width: 20px;
    height: 40px;
    position: absolute;
    overflow: hidden;
    z-index: 7;
}

#net {
    height: 250px;
    width: auto;
    position: relative;
    z-index: 10;
    pointer-events: none;
}

#follow {
    position: absolute;
    text-align: center;
}

.apple {
    height: 50px;
    width: auto;
    position: absolute;
    z-index: 2;
}

#tree {
    position: fixed;
    bottom: 20px;
    left: 50%;
    width: 40%;
    z-index: -1;
}

.basket {
    width: 10%;
    position: fixed;
    bottom: 20px;
    left: 20%;
    z-index: 3;
}

body {
    width: 100%;
    background: #baddeb;
    transition: background 12s linear;
    -moz-transition: background 12s linear;
    z-index: -1;
}

/* My code */
.tilted {
    transform: rotate(-20deg);
    /*counterclockwise tilt */
}

#grass-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
    overflow: hidden;
    display: flex;
    pointer-events: none;
}

#grass-container img {
    height: auto;
}

#sky,
#night {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
}

#sky {
    background: #baddeb;
    z-index: -5;
}

#night {
    background-color: #2f3339;
    z-index: -5;
    opacity: 0;
}