html,
body {
    height: 100%;
}

#butterfly {
    height: 15%;
    width: auto;
    position: absolute;
    z-index: 1;
}

#wateringcan {
    width: 200px;
    position: fixed;
    bottom: 30%;
    left: 40%;
}

 .waterdrop { /* added height and position */
    width: 20px;
    height: 40px;
    position: absolute;
    overflow: hidden;
}

#net {
    height: 200px;
    width: auto;
    position: relative;
    transform: translate(-20%, -20%);
    z-index: 5;
    pointer-events: none;
}

#follow {
    position: absolute;
    text-align: center;
}

.apple {
    height: 50px;
    width: auto;
    position: absolute;
}

#tree {
    position: fixed;
    bottom: 20px;
    left: 50%;
    width: 40%;
}

.basket {
    width: 10%;
    position: fixed;
    bottom: 20px;
    left: 20%;
}


body {
    margin: 0px;
    background-image: url("../images/grass.png");
    background-color: rgb(186, 221, 235);
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-position: bottom;
    overflow: hidden;
}

/* My code */
.tilted{
     transform: rotate(-20deg); /*counterclockwise tilt */
}

